<%- include('./component/header.ejs') %>
<%- include('./component/navbar.ejs') %>
<div class="container-fluid d-flex p-5 gap-2 justify-content-center flex-column align-items-center">
    <h2 class="text-dark">Welcome To Nameless👋</h2>
    <h2 class="text-dark">Management System</h2>
</div>
<%- include('./component/footer.ejs') %>